<!DOCTYPE html>
<head>
</head>

<body>
	<div class="container">
		<%= form_tag "/movies", method: 'post' do %>
		<h1 class="new_movie">What should we watch?</h1>
			<h2 class="label_name1"><%= label_tag "name" %></h2>
			<div id="enter_name1"><%= text_field_tag "name1" %></div><br>
			<h2 class="genre"><%= label_tag "genre" %></h2>
			<div id="genre"><%= select_tag "genre", "<option>Action</option><option>Adventure</option><option>Comedy</option><option>Drama</option><option>Education</option><option>Family</option><option>Fantasy</option><option>Historical</option><option>Horror</option><option>Musical</option><option>Mystery</option><option>Romance</option><option>Sci-fi</option><option>Western</option>".html_safe %></div><br>
			<%= submit_tag "Add to list", {:class => "button_submit_movie"} %>
		<% end %>
	</div>
</body>