
	<div class="container">
		<%= form_tag "/restaurants", method: 'post' do %>
		<div id="main_section_rest">
		<h1 class="new_rest">Where should we eat?</h1>
			<h2 class="label_name"><%= label_tag "restaurant name" %></h2>
			<div id="enter_name"><%= text_field_tag "name" %><br>
				<h2 class="label_location"><%= label_tag "location" %></h2>
			<div id="location"><%= text_field_tag "location" %></div>
				<br>
			<h2 class="label_cuisine"><%= label_tag "cuisine" %></h2>


			<div id="cuisine"><%= select_tag "cuisine", "<option>American</option><option>Bar/Gastro Pub/Wine Bar</option><option>BBQ</option><option>Chinese</option><option>Deli</option><option>French</option><option>Indian</option><option>Italian</option><option>Korean</option><option>Latin/South American</option><option>Mexican</option><option>Middle Eastern</option><option>Seafood</option><option>Spanish</option><option>Steakhouse</option><option>Sushi</option><option>Thai</option>".html_safe, {:class => 'btn-group btn btn-default btn-lg dropdown-toggle'} %><div>
				<br>
				<h2 class="label_price"><%= label_tag "price" %></h2>
				<div id="price"><%= select_tag "price", "<option>$</option><option>$$</option><option>$$$</option><option>$$$$</option>".html_safe %></div>
			<br>
			
			<%= submit_tag "Add to list", {:class => "button_submit_rest"} %>
		<% end %>
	</div>
